<div class="current-bill">
    <div class="current-content">
        <div>
            <p>Current Bill details</p>
        </div>
        <div class="row">
            <div class="col-lg-1">
                    <p> Icon</p>
            </div>
            <div class="col-lg-7">
                <p>Rechnungen bill 23-07-2017</p>
            </div>
            <div class="col-lg-1">new</div>
            <div class="col-lg-1"><b>24.18</b></div>
            <div class="col-lg-1">|</div>
            <div class="col-lg-1">. . .</div>
        </div>
    </div>
</div>