<div class="welcome-component">
    <div class="welcome-section">
        <div class="section-body">
          <div class="row">
            <div class="col-lg-6">

                <img src="">
                <div class="welcome-content">
                <div class="title">You are here: Buisness Customers/My Vodafone/Welcome</div>
                  <div class="user-details">
                    <span class="label">My Vodafone</span>
                    <span>Good Day</span> Sam Kumamer
                  </div>
                  <p class="number">0172 9256782</p>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="icon-section">
                  <img class="icon icon-settings" src="../../../assets/images/settings.png"/>
                  <img class="icon icon-logout" src="../../../assets/images/logout.png" (click)="logout()"/>
                </div>

            </div>
          </div>
          <div *ngIf="type=='Admin'">
          <div class="dropdown float-right">
            <div  class="dropdown-button">
            <button class="btn btn-primary" type="button" [class.toggle]="toggleThis" (click)="toggle()">Start Page<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/usermanagment">User Management page</a></li>
            </ul>
          </div>
        </div>
          </div>
          <div *ngIf="type=='User'">
            <div class="dropdown float-right">
              <div  class="dropdown-button">
              <button class="btn btn-primary" type="button" [class.toggle]="toggleThis" (click)="toggle()">Start Page<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/billpay">Bill page</a></li>
            </ul>
          </div>
          </div>
        </div>
        </div>
    </div>
</div>
