# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
LICENSE
README.md
Dockerfile
npm-debug.log
.editorconfig
.gitignore
.dockerignore