<div class="notification-component">
  <div class="notification-container">
    <div class="container">
      <div class="notification-header">
          <div class="header-content">
            <span class="float-left"><b>Notification</b> 2 new Notification</span>
            <span class="float-right"> <b>&gt; <a>all notification</a></b></span>
        </div>
      </div>

          <<div class="row" *ngFor="let notification of notifications">
              <div class="col-lg-1"><img src=""></div>
              <div class="col-lg-1">{{notification.date}}</div>
              <div class="col-lg-4">{{notification.title}}</div>
              <div class="col-lg-4">{{notification.description}}</div>
              <div class="col-lg-1">X</div>
              <div class="col-lg-1">New</div>
              <div>{{item.role}}</div>
          </div>
      </div>
  </div>
</div>
