<div class="notification-component">
  <div class="notification-container">
    <div class="container">
      <div class="notification-header">
          <div class="header-content">
            <span class="float-left"><b>Vergangene Rechnungen</b></span><br/>
            <div>user can select multiple bills and able to download bills</div>
        </div>
      </div>
      

          <div class="row">
            <div class="col-lg-1">
                  <input type="checkbox"> 
            </div>
            <div class="col-lg-1">
                   |
            </div>
            <div class="col-lg-1">
                <p> Icon</p>
            </div>
            <div class="col-lg-6">
              <p>Rechnungen bill 23-07-2017</p>
            </div>
            <div class="col-lg-1">24.18</div>
            <div class="col-lg-1">|</div>
            <div class="col-lg-1">. . .</div>
          </div>



          <div class="row">
                <div class="col-lg-1">
                    <input type="checkbox">
                </div>
                <div class="col-lg-1">
                    <p>|</p>
                </div>
                <div class="col-lg-1">
                  <p> Icon</p>
                  </div>
                <div class="col-lg-6">
                    <p>Rechnungen bill 21-06-2017</p>
              </div>
              <div class="col-lg-1">44.18</div>
              <div class="col-lg-1">|</div>
              <div class="col-lg-1">. . .</div>
            </div>
            <div class="row">
                    <div class="col-lg-1">
                        <input type="checkbox">
                    </div>
                    <div class="col-lg-1">
                        <p>|</p>
                    </div>
                    <div class="col-lg-1">
                      <p> Icon</p>
                      </div>
                    <div class="col-lg-6">
                        <p>Rechnungen bill 22-05-2017</p>
                  </div>
                  <div class="col-lg-1">74.38</div>
                  <div class="col-lg-1">|</div>
                  <div class="col-lg-1">. . .</div>
                </div>
                <div class="row">
                        <div class="col-lg-1">
                            <input type="checkbox">
                        </div>
                        <div class="col-lg-1">
                            <p>|</p>
                        </div>
                        <div class="col-lg-1">
                          <p> Icon</p>
                          </div>
                        <div class="col-lg-6">
                            <p>Rechnungen bill 23-04-2017</p>
                      </div>
                      <div class="col-lg-1">34.18</div>
                      <div class="col-lg-1">|</div>
                      <div class="col-lg-1">. . .</div>
                    </div>
                    <div class="row">
                            <div class="col-lg-1">
                                <input type="checkbox">
                            </div>
                            <div class="col-lg-1">
                                <p>|</p>
                            </div>
                            <div class="col-lg-1">
                              <p> Icon</p>
                              </div>
                            <div class="col-lg-6">
                                <p>Rechnungen bill 20-03-2017</p>
                          </div>
                          <div class="col-lg-1">44.18</div>
                          <div class="col-lg-1">|</div>
                          <div class="col-lg-1">. . .</div>
                    </div>
                    <div>
                            <button class="btn btn-default">Bill summary</button>
                            <button class="btn btn-default">Bill Details list Info</button>
                    </div>
      </div>
  </div>
</div>
