<footer>
<div class="mod mod-glnav-footer glnav" role="contentinfo">
  <div class="belt">
   <h3 class="access">Gütesiegel (Simplicity)</h3>
   <div class="grid mod mod-qualityseals" data-scope="sml" data-radio="true">
    <ul class="list-qualityseals in-viewport">
  
  
  
  
      <!-- (246865 / P01/S01) >>> -->
         <li class="col w-20 qs-item">
          <a href="//www.vodafone.de/unternehmen/preise-uebersicht.html" class="sprite01">
              <span class="offscreen-text"></span>
          </a>
         </li>
      <!-- (246865 / P01/S01) <<< -->
  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
      <!-- (593349 / P02/S02) >>> -->
         <li class="col w-20 qs-item">
          <a href="//www.vodafone.de/unternehmen/preise-uebersicht.html" class="sprite02">
              <span class="offscreen-text"></span>
          </a>
         </li>
      <!-- (593349 / P02/S02) <<< --> 
  
   
  
   
  
   
  
  
  
  
  
  
  
  
  
      <!-- (394839 / P03/S03) >>> -->
         <li class="col w-20 qs-item">
          <a href="//www.vodafone.de/unternehmen/preise-uebersicht.html" class="sprite03">
              <span class="offscreen-text"></span>
          </a>
         </li>
      <!-- (394839 / P03/S03) <<< -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      <!-- (404373 / P04/S04) >>> -->
         <li class="col w-20 qs-item">
          <a href="//www.vodafone.de/unternehmen/preise-uebersicht.html" class="sprite04">
              <span class="offscreen-text"></span>
          </a>
         </li>
      <!-- (404373 / P04/S04) <<< -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      <!-- (235347 / P05/S05) >>> -->
         <li class="col w-20 qs-item">
          <a href="//www.vodafone.de/unternehmen/preise-uebersicht.html" class="sprite05">
              <span class="offscreen-text"></span>
          </a>
         </li>
      <!-- (235347 / P05/S05) <<< -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    </ul>
   </div>            
  </div>
        <div class="belt linksbelt">
         <span class="access">Site links</span>
         
             <ul class="list-social">
              <li><a href="https://www.vodafone.de/featured/"><span class="icon icon-social-vf"></span></a></li>
              <li><a href="http://www.linkedin.com/company/vodafone"><span class="icon icon-social-linkedin"></span></a></li>
              <li><a href="http://www.youtube.com/user/vodafonedeutschland"><span class="icon icon-social-youtube"></span></a></li>
              <li><a href="http://plus.google.com/+VodafoneDeutschland/posts"><span class="icon icon-social-gplus"></span></a></li>
              <li><a href="http://twitter.com/vodafone_de"><span class="icon icon-social-twitter"></span></a></li>
              <li><a href="http://www.facebook.com/vodafoneDE"><span class="icon icon-social-facebook"></span></a></li>
              <li><a href="https://forum.vodafone.de/"><span class="icon icon-social-forum"></span></a></li>
             </ul>
            <ul class="list-foo-main">
          <li class="foo-item-main">
          <div class="head"><span>Kunden-Informationen</span></div>
          <div class="chevron only-sml-mdm">
              <span class="icon"></span>
          </div>
      
           <!-- Secondary -->
           <div class="foo-secondary">
              <ul class="list-foo-sec">
            <li class="foo-item-sec"><a href="/agb.html"><span>Preise &amp; AGB</span></a></li>
            <li class="foo-item-sec"><a href="/hilfe/bestellen/lieferung-und-zahlung.html"><span>Lieferung &amp; Zahlung</span></a></li>
            <li class="foo-item-sec"><a href="/unternehmen/datenschutz-privatsphaere.html"><span>Datenschutz</span></a></li>
            <li class="foo-item-sec"><a href="/widerrufsrecht.html"><span>Widerrufsrecht</span></a></li>
            <li class="foo-item-sec"><a href="/privat/service/ausland-und-roaming.html"><span>Roaming</span></a></li>
            <li class="foo-item-sec"><a href="/kunden-informationen.html"><span>Notruf-Funktion</span></a></li>
            <li class="foo-item-sec"><a href="/unternehmen/vodafone-deutschland.html"><span>Jugendschutz</span></a></li>
            <li class="foo-item-sec"><a href="http://ec.europa.eu/consumers/odr/" target="_self"><span>EU: Online-Streitbeilegung</span></a></li>
            <li class="foo-item-sec"><a href="/hilfe/infodoks-videos.html"><span>Produktinformationsblätter</span></a></li>
            <li class="foo-item-sec"><a href="/kunden-informationen.html"><span>Weitere Informationen</span></a></li>
              </ul></div>
          </li>
   
          <li class="foo-item-main">
          <div class="head"><span>Über uns / Kontakt</span></div>
          <div class="chevron only-sml-mdm">
              <span class="icon"></span>
          </div>
      
           <!-- Secondary -->
           <div class="foo-secondary">
              <ul class="list-foo-sec">
            <li class="foo-item-sec"><a href="/unternehmen.html"><span>Über Vodafone</span></a></li>
            <li class="foo-item-sec"><a href="/impressum.html"><span>Impressum</span></a></li>
            <li class="foo-item-sec"><a href="/unternehmen/jobs/deine-karriere.html"><span>Karriere</span></a></li>
            <li class="foo-item-sec"><a href="/privat/vodafone-entdecken.html"><span>Vodafone entdecken</span></a></li>
            <li class="foo-item-sec"><a href="/sitemap.html"><span>Sitemap</span></a></li>
            <li class="foo-item-sec"><a href="https://www.vodafone.de/hilfe/kontakt-zu-vodafone.html" target="_self"><span>Kontakt für Privatkunden</span></a></li>
            <li class="foo-item-sec"><a href="/business/hilfe-support/beratung-logins.html"><span>Kontakt für Geschäftskunden</span></a></li>
            <li class="foo-item-sec"><a href="/filialsuche.html"><span>Shopfinder</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/privat/service/kunden-werben.html?icmp=vf_footer:mgm" target="_self"><span>Kunden werben</span></a></li>
            <li class="foo-item-sec"><a href="//zuhauseplus.vodafone.de/newsletter" target="_self"><span>Newsletter</span></a></li>
            <li class="foo-item-sec"><a href="/lieferantenbuchhaltung.html"><span>Lieferanten-Buchhaltung</span></a></li>
            <li class="foo-item-sec"><a href="/direktvertrieb.html"><span>Selbständig im Direktvertrieb</span></a></li>
              </ul></div>
          </li>
   
          <li class="foo-item-main">
          <div class="head"><span>Top-Smartphones</span></div>
          <div class="chevron only-sml-mdm">
              <span class="icon"></span>
          </div>
      
           <!-- Secondary -->
           <div class="foo-secondary">
              <ul class="list-foo-sec">
            <li class="foo-item-sec"><a href="/privat/handys/iphone-x.html"><span>iPhone X</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/iphone-8.html"><span>iPhone 8</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/iphone-8-plus.html"><span>iPhone 8 Plus</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/iphone-7.html"><span>iPhone 7</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/samsung-galaxy-note-8.html"><span>Samsung Galaxy Note8</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/samsung-galaxy-s9.html"><span>Samsung Galaxy S9</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/samsung-galaxy-s8.html"><span>Samsung Galaxy S8</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/samsung-galaxy-s7.html"><span>Samsung Galaxy S7</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/huawei-p20.html"><span>HUAWEI P20</span></a></li>
            <li class="foo-item-sec"><a href="/privat/handys/sony-xperia-xz2.html"><span>Sony Xperia XZ2</span></a></li>
              </ul></div>
          </li>
   
          <li class="foo-item-main">
          <div class="head"><span>Produkte &amp; Hersteller</span></div>
          <div class="chevron only-sml-mdm">
              <span class="icon"></span>
          </div>
      
           <!-- Secondary -->
           <div class="foo-secondary">
              <ul class="list-foo-sec">
            <li class="foo-item-sec"><a href="//www.vodafone.de/handy/tarife.html" target="_self"><span>Handytarife</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/handy/mobilfunk-simonly.html" target="_self"><span>SIMonly-Tarife</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/handy/" target="_self"><span>Handyvertrag</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/handy/all-net-flat.html" target="_self"><span>Allnet Flat-Tarife</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/prepaid/" target="_self"><span>Prepaid</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/freikarte/lte-prepaid.html" target="_self"><span>Prepaid LTE</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/mobiles-internet/" target="_self"><span>Mobiles Internet</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/festnetz/" target="_self"><span>Festnetz</span></a></li>
            <li class="foo-item-sec"><a href="//www.vodafone.de/dsl/" target="_self"><span>DSL</span></a></li>
 
            <li>
             <ul class="fo-social">
              <li><a href="https://www.vodafone.de/featured/"><span class="icon icon-social-vf"></span></a></li>
              <li><a href="http://www.linkedin.com/company/vodafone"><span class="icon icon-social-linkedin"></span></a></li>
              <li><a href="http://www.youtube.com/user/vodafonedeutschland"><span class="icon icon-social-youtube"></span></a></li>
              <li><a href="http://plus.google.com/+VodafoneDeutschland/posts"><span class="icon icon-social-gplus"></span></a></li>
              <li><a href="http://twitter.com/vodafone_de"><span class="icon icon-social-twitter"></span></a></li>
              <li><a href="http://www.facebook.com/vodafoneDE"><span class="icon icon-social-facebook"></span></a></li>
              <li><a href="https://forum.vodafone.de/"><span class="icon icon-social-forum"></span></a></li>
             </ul>
            </li>
              </ul></div>
          </li>
         
   </ul>
  
         
        
        </div>
       </div>
</footer>