.user-management{
  padding: 30px 0;
  background: #ccc;
  min-height: 400px;
}
.user-management .container{
  width: 100%;
  max-width: 1024px;
  padding: 20px 20px;
  margin: auto;
  display: block;
}
.user-management-header{
  padding:30px 10px;
}
.help{
  font-size:12px;
  margin-right: 20px;
}
.user-management .btn-primary{
  background-color: #E60000;
  border-color: #E60000;
  outline: none;
}
.user-management .btn-primary:hover, .dashboard .btn-primary:focus{
  background: red;
  border: none;
  box-shadow:none;
  outline: none;
}
.user-management-body{
    background: #fff;
    padding:30px 20px;
}
.user-management .float-left{
  float: left;
}
.user-management .float-right{
  float: right;
}
.user-management-body .nav-tabs li{
  padding:20px 10px 10px 10px;
}
.user-details{
  padding:20px 0px;

}
.user-details .search-input{
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
}
.details-table{
  padding:20px 0px;
}
.details-table .row{
  border-bottom: 1px solid #ccc;
}
.user-row{
  padding:20px 0;
}
.category-button{
  background: #ccc;
  font-weight: bold;
  font-size:13px;
  padding:5px 5px;
  margin: 5px auto;
  display: inline-block;
  border-radius: 5px;
}
.category-button:hover{
  background: #ddd
}



.popup-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:99999;
}
.popup-modal.hidden{
  display: none;
}
.popup-modal .overlay{
  background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.popup-body{
    background: #fff;
    border:1px solid #ccc;
    padding: 50px 50px ;
    position: relative;
    width: 50%;
    transform: translate(50%, 10%);
}
.popup-body label{
  margin-bottom: 0;
}
.popup-header .h3{
  width:60%;
}
.desc{
  padding:10px 0;
  width:100%;
  font-size:13px;

}
.popup-header .title{
  font-size:18px;
  padding:10px 10px;
}


.popup-modal .btn-default{
  background-color: #E60000;
  border-color: #E60000;
  outline: none;
  box-shadow:none;
  border: none;
  color:#fff;
  margin:20px auto;
}
.popup-modal .btn-default:hover, .popup-modal .btn-default:focus{
  background: red;
  outline: none;
}
