.flyout-dropdown{
  padding: 30px 0;
  margin: auto;
}
.flyout-dropdown .row div{
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  padding:0 20px;
}
.flyout-dropdown .row div:last-child{
  border: none;
}
